################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AS.PIMA.Reports/AS.PIMA.Reports/bin/Debug/netstandard2.0
